table,
th,
td {
    border: 1px solid black;
    text-align: left;
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

h2, h3, h4 {
color: #333;
}

a {
color: #007bff;
text-decoration: none;
}

a:visited {
    color: #9500ff;
    text-decoration: none;
    }
a:hover {
text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
    text-align: center;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; 
}

th {
background-color: #f2f2f2;
}

section {
margin-bottom: 40px;
}

h2 {
color: #007bff;
margin-bottom: 20px;
}

h3 {
color: #333;
margin-bottom: 15px;
}

ul {
list-style-type: disc;
margin-left: 20px;
}


#conclusiones p {
font-style: italic;
color: #666;
}

#conclusiones a {
color: #666;
}

body {
background-color: #f8f9fa;
padding: 20px;
}

header {
    background-color: #2d1647;
    color: #D3D3D3;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f4f4f4;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #666;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    display: block;
    margin-right: 0;
}